## Contents

### [1.0 Basics](#1.0)
- [1.1 Basic Objects](#1.1)
- [1.2 Variables](#1.2)
- [1.3 Basic Math](#1.3)
- [1.4 Comparison Operators](#1.4)
- [1.5 Boolean Operators](#1.5)
- [1.6 Strings](#1.6)
- [1.7 Concatenating](#1.7)
- [1.8 Lists](#1.8)
- [1.9 Tuples](#1.9)
- [1.10 Dictionaries](#1.10)

### [2.0 Data Types](#2.0)
- [2.1 if Statement](#2.1)
- [2.2 if ... else Statement](#2.2)
- [2.3 if ... elif ... else Statement](#2.3)

### [2.0 Conditional Statements](#2.0)
- [2.1 if Statement](#2.1)
- [2.2 if ... else Statement](#2.2)
- [2.3 if ... elif ... else Statement](#2.3)
### [3.0 Loops](#3.0)
- [3.1 For Loops](#3.1)
- [3.2 while Loops](#3.2)

### [4.0 Error Handling](#4.0)
- [4.1 try / except](#4.1)

### [5.0 Functions](#5.0)

### [6.0 Datetime](#6.0)

### [Appendix]()
- [A1 Keywords]

<a id='1.0'></a>
# 1.0 Python Basics

<a id='1.1'></a>
## 1.1 Basic Objects

- int, used to represent integers, e.g., 2, 5, or 100.
- float, used to represent real numbers, e.g, 2.75, 3.14.
- bool, used to represent Boolean values True and False.

In [205]:
print (type(1))
print (type(1.0))
print (type(True))

<class 'int'>
<class 'float'>
<class 'bool'>

In [206]:
print (type(float(1)))
print (type(int(1.0)))

<class 'float'>
<class 'int'>

<a id='1.2'></a>
## 1.2 Variables

Variables are names that have been assigned to specific values or data. These names can be almost anything you want, but there are some restrictions and best practices.

**Restrictions**
- The name of a variable cannot start with a number.
- The name of a variable cannot contain some special characters like `.`, `$`, `%`, `+`, `&`, etc.
- Variables cannot be assigned the same name as a default or imported function (i.e., `type`, `print`, `for`).
- Variable names cannot contain spaces.

**Best Practices**
- Variable names should be lowercase.
- A variable's name should be representative of the value(s) it has been assigned.
- If you must use multiple words in your variable name, use an underscore to separate them.

In [207]:
# Assigning a float:
x = 1.0
print (type(x))

# Assigning an int:
y = 1
print (type(y))

# Assigning a string:
z = '1'
print (type(z))

<class 'float'>
<class 'int'>
<class 'str'>

In [234]:
x = 10.5
print ('The value of x is', x)
x = 'hello world!'
print ('The value of x is', x)

The value of x is 10.5
The value of x is hello world!

In [209]:
# Assign value with 'input', formarly called raw_input

name = input('type your name:  ')
print (name)

type your name:  Mike
Mike

<a id='1.3'></a>
## 1.3 Basic Math

- **`+`**  Exponentiation
- **`-`**  Subtraction
- __`*`__  Multiplication
- __`**`__  Exponentiation
- **`/`** Division (float)
- **`//`** Division (floor)
- **`%`** Modulo, returns the remainder when one integer is divided by another

In [215]:
print ('5 + 2 =', 5 + 2)   # Addition
print ('5 - 2 =', 5 - 2)   # Subtraction
print ('5 * 2 =', 5 * -2)  # Multiplication
print ('5 ** 2 =', 5 ** 2) # Exponentiation

5 + 2 = 7
5 - 2 = 3
5 * 2 = -10
5 ** 2 = 25

In [220]:
print ('5 / 2 =', 5 / 2)    # Division (float)
print ('5 // 2 =', 5 // 2)  # Division (floor)
print ('-5 // 2 =', -5 // 2) # Division (floor) - with negative number
print ('5 % 2 =', 5 % 2)    # Modulo

5 / 2 = 2.5
5 // 2 = 2
-5 // 2 = -3
5 % 2 = 1

Scientific notation in python. For example, 1.5e5 denotes the value 1.5Ã— 10<sup>5</sup>

In [204]:
1.5e5

150000.0

<a id='1.4'></a>
## 1.4 Functions

In [235]:
def square(x):
    return x**2

print (square(4))

16

In [236]:
def polynomial(x, a, b=0, c=0, d=0):
    result = a + b * x**1 + c * x**2 + d * x**3
    return result

print (polynomial(1, 2, 3))
print (polynomial(2, 2, d=-4))

5
-30

<a id='1.5'></a>
## 1.5 Comparison Operators

**Comparison Operators**

- Less than: **`<`**
- Greater than: **`>`**
- Less than or equal to: **`<=`**
- Greater than or equal to: **`<=`**
- Equals: **`==`**
- Does not equal: **`!=`**

In [224]:
print (1 > 1)
print (1 < 1)
print (1 >= 1)
print (1 <= 1)
print (1 == 1)
print (1 != 1)

False
False
True
True
True
False

In [222]:
print ([1,2] == [1,2])
print ([1,2] != [2,1])

True
True

<a id='1.5'></a>
## 1.5 Boolean Operators

In [64]:
print (True and True)
print (True or  False)
print (not True)

True
True
False

# 2.0 Data Types

## 2.1 Strings

In [65]:
type('1324')

str

In [67]:
print (str(1234))   # convert int to string
print (str(1234.0)) # convert float to string
print (str(True))   # convert bool to string

1234
1234.0
True

In [226]:
# Length of the string:
len('Hello world')

11

In [227]:
# Replace an element of a string
s = 'Hello world'
s2 = s.replace('world', 'test')
print(s2)

Hello test

In [228]:
# Change case
s3 = 'THis IS teST tExT'
print (s3.lower()) #all lower case
print (s3.upper()) #all upper case
print (s3.title()) #capitalize first letter, rest lower case

this is test text
THIS IS TEST TEXT
This Is Test Text

**Operators on strings**

`âˆ—` and `+` works for strings.

In [233]:
# repeat 'a' 3 times
print (3 * 'a') 

# join 'a', 'b' and 'c'
print ('a' + 'b' + 'c') 

# convert and join
print ('a' + str(123))

aaa
abc
a123

In [232]:
# String Indexing
s = 'Hello world'

# 1. Indexing the first (index 0) character in the string:
print('1: ' + s[0])

# 2. Objects at indexes 0, 1, and 2
print ('2: ' + s[0:3])

# 3. From index 6 up to the end of the string:
print ('3: ' + s[6:])

# 4. No start or end specified:
print ('4: ' + s[:])

# 5. Index from the right side
print ('5: ' + s[-1])

# 6. Define a step size of 2, i.e., every other character:
print ('6: ' + s[::2])

1: H
2: Hel
3: world
4: Hello world
5: d
6: Hlowrd

In [229]:
# Exit character, use '\' ahead of ' to not mess up text
print ('This isn\'t flying, this is falling in style!')
print ()

# Use \n for new line
print ('Line One\nLine Two')
print ()

# Use \t to tab in
print ('A list:\n\t- Bullet 1\n\t- Bullet 2\n\t\t- Bullet 3')

This isn't flying, this is falling in style!

Line One
Line Two

A list:
	- Bullet 1
	- Bullet 2
		- Bullet 3

In [230]:
# Check if text ends with a string
x = 'Homer Simpson'
print (x.endswith('Simpson'))

True

In [231]:
# Check if string is only letters with isalpha().  Similar option with isalnum()
x = 'text'
y = 'text with spaces'
z = 'numbers12345'

print (x.isalpha())
print (y.isalpha())
print (z.isalpha())

True
False
False

# Print Format

Here, %s, %i, %f are formatters, Python will take the variable on the right and put it in to replace the %s, %i or %f with its value.

- %s is used for strings
- %i or %d are used for integers
- %f is used for float numbers, can indicate 2 decimal points with %.2f

In [56]:
print ('hello world!')
print ('hello %s!' %'world')

hello world!
hello world!

In [57]:
print ('hello, %i!' %2015)
print ('hello, %f!' %2015)
print ('hello, %.2f!' %2015)

hello, 2015!
hello, 2015.000000!
hello, 2015.00!

In [58]:
print ('5 ** 2 = %i' % (5 ** 2))
print ('5 / 2 = %.2f' % (5 / 2))
print ('5 // 2 = %.2f' % (5 // 2))
print ('5 %% 2 = %.2f' % (5 % 2))

5 ** 2 = 25
5 / 2 = 2.50
5 // 2 = 2.00
5 % 2 = 1.00

# Data Structures

## lists

In [151]:
fibonacci_numbers = [1, 1, 2, 3, 5, 8, 13, 21]
strings = ['a', 'b', 'c', 'd']
num_str_bool = ['a', 1, 'b', 2, 'c', 3, True, False]
list_of_lists = [fibonacci_numbers, strings, num_str_bool]

print (fibonacci_numbers)
print (strings)
print (num_str_bool)
print (list_of_lists)

[1, 1, 2, 3, 5, 8, 13, 21]
['a', 'b', 'c', 'd']
['a', 1, 'b', 2, 'c', 3, True, False]
[[1, 1, 2, 3, 5, 8, 13, 21], ['a', 'b', 'c', 'd'], ['a', 1, 'b', 2, 'c', 3, True, False]]

## Indexing and Slicing

In [153]:
print (fibonacci_numbers[0]) # the first element
print (fibonacci_numbers[3]) # the fourth element
print (fibonacci_numbers[0:3]) #slicing
print (fibonacci_numbers[3:]) #slicing

1
3
[1, 1, 2]
[3, 5, 8, 13, 21]

## Searching and Appending

In [154]:
fibonacci_numbers.index(8) #searching, the index whose values is 8

5

In [155]:
fibonacci_numbers.append(34) # add one more element
fibonacci_numbers

[1, 1, 2, 3, 5, 8, 13, 21, 34]

## List comprehension

In [199]:
# add 1 to each number

new_list = [i + 1 for i in fibonacci_numbers]
new_list

[2, 2, 3, 4, 6, 9, 14, 22, 35]

In [200]:
# for only even numbers add 1

[i + 1 for i in fibonacci_numbers if i % 2 == 0]

[3, 9, 35]

In [196]:
# list of length 3, stepping through each range at the same time

[i * j for i,j in zip(range(5,8),range(20,23))]

[100, 126, 154]

In [197]:
# list of length 9, stepping through each combination of i and j (for loop in a for loop)

[i * j for i in range(5,8) for j in range(20,23)]

[100, 105, 110, 120, 126, 132, 140, 147, 154]

In [183]:
len(range(6,6+size))

10

## tuple
Tuples are similar to lists in many ways, except they **can't be modified once you've created them.**

Tuples are defined between two parentheses instead of brackets.

In [159]:
fib_numbers = (1, 1, 2, 3, 5, 8, 13, 21)
fib_numbers

(1, 1, 2, 3, 5, 8, 13, 21)

In [160]:
fib_numbers[1] # indexing

1

In [161]:
fib_numbers[1:5] # slicing

(1, 2, 3, 5)

In [162]:
fib_numbers.index(8) # searching

5

## set
A set is an unordered sequence of unique values. Members of a set must be hashable.

In [163]:
set1 = {1, 2, 3}
set2 = {2, 3, 1}
set1 == set2

True

In [166]:
# Note that the duplicated elements are automatically removed.

set3 = {1, 1, 2, 2, 3, 3, 3, 3, 3}
set3

{1, 2, 3}

## Operations on sets
- **difference:** Elements of the first set that are in the 2nd set
- **intersection:** Elements in both sets
- **union:** Elements that are in either set

In [167]:
evens = {0, 2, 4, 6, 8, 10, 12}
integers = {0, 1, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 9, 8, 19}

The elements that appears in evens and not in integers.

In [168]:
evens.difference(integers) # same as: evens - integers

{10, 12}

The elements that appears both in evens and integers.

In [169]:
evens.intersection(integers)

{0, 2, 4, 6, 8}

The elements that appears in evens or integers.

In [170]:
evens.union(integers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 19}

## dictionary
A dictionary is a set of keys with associated values. The key must be hashable, but the value can be any object. You might know this as a hash map or key-value pairs.

In [171]:
someone = {'sex': 'male', 'height': 6.1, 'age': 30}
someone

{'sex': 'male', 'height': 6.1, 'age': 30}

In [174]:
print (someone.keys())
print (someone.values())

dict_keys(['sex', 'height', 'age'])
dict_values(['male', 6.1, 30])

In [175]:
someone['age'] # index

30

In [176]:
# Convert to a list of tuples
someone.items()

dict_items([('sex', 'male'), ('height', 6.1), ('age', 30)])

In [177]:
# Similar to set, dictionary is also unordered.

someone1 = {'sex': 'male', 'age': 30}
someone2 = {'age': 30, 'sex': 'male'}
someone1 == someone2

True

## dictionary comprehension

In [179]:
names = ['Mike','Tom','Dave','Lisa']

names_dict = {i:n for i in range(len(names)) for n in names}
names_dict

{0: 'Lisa', 1: 'Lisa', 2: 'Lisa', 3: 'Lisa'}

# Control Flow

# Conditional

In [82]:
x = 13

if x % 2 == 0:
    print ('x is even')
elif x < 10:
    print ('x is odd and less than 10')
elif x > 20:
    print ('x is odd and greater than 20')
else:
    print ('x is odd and between 10 and 20')

x is odd and between 10 and 20

In [81]:
x = 13

if x % 2 == 0: 
    if x % 3 == 0 :
        print ('x can be divided by 2 and 3')
    else:
        print ('x can be divided by 2, but can not by 3.')
else:
    if x % 3 == 0 :
        print ('x can be divided by 3, but can not by 2.')
    else:
        print ('x can not be divided by 2 or 3.')

x can not be divided by 2 or 3.

In [83]:
x = 13

div2 = x % 2 == 0
div3 = x % 3 == 0

if div2 and div3: 
    print ('x can be divided by 2 and 3')
elif div2 and not div3: 
    print ('x can be divided by 2, but can not by 3.')
elif not div2 and div3: 
    print ('x can be divided by 3, but can not by 2.')
else:
    print ('x can not be divided by 2 or 3.')

x can not be divided by 2 or 3.

# Loops

## for loop

In [11]:
for i in range(3):
    print (i)

0
1
2

## while loop

In [12]:
i = 0

while i < 3:
    print (i)
    i += 1

0
1
2

In [116]:
def binarySearchSquareRoot(x, eps = 1e-8):
    start = 0
    end = x
    mid = (start + end) / 2.0
    while abs(mid ** 2 - x) >= eps:
        if mid**2 > x:
            end = mid
        else:
            start = mid
        mid = (start + end) / 2.0
    return mid

binarySearchSquareRoot(100, 1e-15)

10.0

# Exceptions

Another flow control tool is the exception. They are used to indicate an unusual condition that needs to be handled higher up on the stack.

In [117]:
# Division by 0 throws an exception(ZeroDivisionError).

1 / 0

ZeroDivisionError: division by zero

In [118]:
# Add up a string and a integer throws an exception(TypeError).

'1' + 2

TypeError: can only concatenate str (not "int") to str

In [120]:
# Wrong syntax throws an exception(SyntaxError).

if  1+2

SyntaxError: invalid syntax (<ipython-input-120-cfd30a6f88e8>, line 2)

In [122]:
# Variable name not found throws an exception(NameError).

undefined_var

NameError: name 'undefined_var' is not defined

# Try and Except

In [126]:
try:
    1 / 0
except:
    raise  Exception('Can not divide 0 you fool!')

Exception: Can not divide 0 you fool!

In [129]:
try:
    1 / 0
except:
    print ('Can not divide 0 you fool!')

print ('hi, I keep running!')

Can not divide 0 you fool!
hi, I keep running!

We can also deal with each particular type of exception. We have seen these exceptions:

- **SyntaxError:** canâ€™t parse program
- **NameError:** name not found
- **TypeError:** operand doesnâ€™t have correct type
- **ZeroDivisionError:** integer division or modulo by zero.

In [132]:
def divide(x, y):
    try:
        result =  x / y
    except ZeroDivisionError:
        result = None
    except TypeError:
        result = divide(float(x), float(y))
    return result

In [133]:
print (divide(3, 0))
print (divide(3, 1))
print (divide(3, '1'))

None
3.0
3.0

Other extensions to try:

- **else:** executed when execution of associated try body completes with no exceptions.
- **finally:** always run.

In [138]:
def divide2(x, y):
    try:
        result =  x / y
    except ZeroDivisionError:
        result = None
    except TypeError:
        result = divide2(float(x), float(y))
    else:
        print ("result is", result)
    finally:
        print ("done!")
        return result

In [139]:
print (divide2(2, 1))

result is 2.0
done!
2.0

In [140]:
print (divide2(2, 0))

done!
None

In [141]:
print (divide2(2, '1'))

result is 2.0
done!
done!
2.0

## Python Keywords

In [202]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']